---
layout: archive
---

<!-- {{ content }} // 왜 뜨는 지 모르는 캘린더 아이콘이 안 뜨게 됨-->

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single-custom-home.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
